@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');


body{
	background-color: ghostwhite !important;
}

#about{
	margin-top: 20%;
}

.about{
	cursor: pointer;
	background-color:ghostwhite;
    color: black;
	padding-top: 20px;
	padding-bottom: 30px;
}

.about h2 {
	opacity: .8;
    font-family: 'Redressed' , cursive;
}
.about span {
	display: block;
	width: 100px;
	height: 100px;
	line-height: 100px;
	margin:auto;
	border-radius:50%;  
	font-size: 40px;
	color:black;
	opacity: 0.7;
	background-color: lightgreen;
	border: 2px solid lightgreen;

	-webkit-transition:all .5s ease;
 	-moz-transition:all .5s ease;
 	-o-transition:all .5s ease;
 	transition:all .5s ease;

}
.about-item:hover span{
	opacity: 1;	
	border: 2px solid lightgreen;
	font-size: 42px;
	-webkit-transform: scale(1.1,1.1) rotate(360deg);
	-moz-transform: scale(1.1,1.1) rotate(360deg);
	-o-transform: scale(1.1,1.1) rotate(360deg);
	transform: scale(1.1,1.1) rotate(360deg);
}
.about-item:hover h2{
	opacity: 1;
	-webkit-transform: scale(1.1,1.1)  ;
	-moz-transform: scale(1.1,1.1)  ;
	-o-transform: scale(1.1,1.1)  ;
	transform: scale(1.1,1.1) ;
}
.about .lead{
	color: lightgreen;
	font-size: 14px;
	font-weight: bold;
}

/* footer */
img.footerimage {
	width: 120px;
  }
  
  .text-center.p-3 {
	background-color: #1d1d1f !important;
  }
  
  footer.text-center.text-lg-start.text-dark {
	background-color: #424245 !important;
	padding-left: 0;
	padding-right: 0;
  }
  
  #facebook {
	color: #3b5998;
	font-size: 25px;
  }
  
  #twitter {
	color: #00acee;
	font-size: 25px;
  }
  
  #youtube {
	color: #ff0000;
	font-size: 25px;
  }
  
  #instagram {
	color: #c13584;
	font-size: 25px;
  }
  
  p.text-white {
	margin-top: 20px;
  }
  
  h6.text-uppercase.mb-4.font-weight-bold {
	font-family: "Redressed", cursive;
	color: lightgrey !important;
  }
  
  hr.w-100.clearfix.d-md-none {
	color: lightgrey !important;
  }
  
  p#address {
	white-space: nowrap;
  }
  
  img.px-2 {
	width: 50px;
  }
  
  /* footer ends */


@media (max-width:480px) {
	#about{
		margin-top: -40% !important;
	}

	footer.text-center.text-lg-start.text-dark {
		margin-bottom: 19% !important;
	  }
  }
  
   @media (max-width:768px) {
	#about{
		margin-top: -40% !important;
	}

	footer.text-center.text-lg-start.text-dark {
		margin-bottom: 19% !important;
	  }
  }


