@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');




html, body {
    height: 100%;
    overflow-x: hidden;
}

#myaddress{
    margin-top:15% !important;
}


.form-holder {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      min-height: 100vh;
}

.form-holder .form-content {
    position: relative;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 60px;
}

.form-content .form-items {
    border: 3px solid black;
    padding: 40px;
    display: inline-block;
    width: 100%;
    min-width: 540px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: left;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.form-content h3 {
    color: black;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 5px;
}

.form-content h3.form-title {
    margin-bottom: 30px;
}

.form-content p {
    color: black;
    text-align: left;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 30px;
}


.form-content label, .was-validated .form-check-input:invalid~.form-check-label, .was-validated .form-check-input:valid~.form-check-label{
    color: black;
}

.form-content input[type=text], .form-content input[type=email], .form-content input[type=number] {
    width: 100%;
    padding: 9px 20px;
    text-align: left;
    border: 0;
    outline: 0;
    border-radius: 6px;
    background-color: black;
    font-size: 15px;
    font-weight: 300;
    color: #8D8D8D;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-top: 16px;
    border:2px solid lightgreen;
}


/* .btn-primary{
    background-color: #6C757D;
    outline: none;
    border: 0px;
     box-shadow: none;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
    background-color: #495056;
    outline: none !important;
    border: none !important;
     box-shadow: none;
} */

.form-content textarea {
    position: static !important;
    width: 100%;
    padding: 8px 20px;
    border-radius: 6px;
    text-align: left;
    background-color: black;
    border: 0;
    font-size: 15px;
    font-weight: 300;
    color: #8D8D8D;
    outline: none;
    resize: none;
    height: 120px;
    -webkit-transition: none;
    transition: none;
    margin-bottom: 14px;
}

.form-content textarea:hover, .form-content textarea:focus {
    border: 0;
    background-color: black;
    color: #8D8D8D;
}

.mv-up{
    margin-top: -9px !important;
    margin-bottom: 8px !important;
}

.invalid-feedback{
    color: #ff606e !important;
}

.valid-feedback{
   color: #2acc80;
}

button.btn.btn-outline-success{
    background-color: lightgreen;
    color: black;
    border-radius: 20px;

}

button.btn.btn-outline-success:hover{
   background-color: black;
   color:white;
}


select.form-control{
    width: 100%;
    padding: 9px 20px;
    text-align: left;
    border: 0;
    outline: 0;
    border-radius: 6px;
    background-color: black;
    font-size: 15px;
    font-weight: 300;
    color: #8D8D8D;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-top: 16px;
    border:2px solid lightgreen;
}

select.form-control:focus{

    border-color: lightgreen;
}

.text-center{
    cursor: pointer;
}

/* footer */
img.footerimage {
    width: 120px;
  }
  
  .text-center.p-3 {
    background-color: #1d1d1f !important;
  }
  
  footer.text-center.text-lg-start.text-dark {
    background-color: #424245 !important;
    padding-left: 0;
    padding-right: 0;
  }
  
  #facebook {
    color: #3b5998;
    font-size: 25px;
  }
  
  #twitter {
    color: #00acee;
    font-size: 25px;
  }
  
  #youtube {
    color: #ff0000;
    font-size: 25px;
  }
  
  #instagram {
    color: #c13584;
    font-size: 25px;
  }
  
  p.text-white {
    margin-top: 20px;
  }
  
  h6.text-uppercase.mb-4.font-weight-bold {
    font-family: "Redressed", cursive;
    color: lightgrey !important;
  }
  
  hr.w-100.clearfix.d-md-none {
    color: lightgrey !important;
  }
  
  p#address {
    white-space: nowrap;
  }
  
  img.px-2 {
    width: 50px;
  }
  
  /* footer ends */

@media (max-width:480px) {
    #myaddress1 {
        margin-top: 25% !important;
  }

  footer.text-center.text-lg-start.text-dark {
    margin-bottom: 16% !important;
  }
  }
  
   @media (max-width:768px) {
    #myaddress1 {
        margin-top: 23% !important;
  }

  footer.text-center.text-lg-start.text-dark {
    margin-bottom: 16% !important;
  }
  }

