@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');



*,body{
    font-family: 'Poppins', sans-serif;
}
.card{
    border:none
}

.totals tr td{
    font-size: 13px
}

.product-qty span{
    font-size: 12px;color: #dedbdb
}

/* footer */



img.footerimage{
    width: 120px;
}


a.btn.pmd-btn-fab.pmd-ripple-effect.btn-primary.pmd-btn-flat.mx-1.my-2{
    border-radius: 50%;
    background-color: rgb(59,89,152);
    color:white;
    
}

a.btn.pmd-btn-fab.pmd-ripple-effect.btn-primary.pmd-btn-flat.mx-1.my-2:hover{
  color:black;
}

a.btn.pmd-btn-fab.pmd-ripple-effect.btn-info.pmd-btn-flat.mx-1.my-2{
    border-radius: 50%;
    background-color: skyblue;
    
}

a.btn.pmd-btn-fab.pmd-ripple-effect.btn-info.pmd-btn-flat.mx-1.my-2:hover{
  color:black;
}


a.btn.pmd-btn-fab.pmd-ripple-effect.btn-danger.pmd-btn-flat.mx-1.my-2{
    border-radius:50%;
    background-color:#d63384;
}

a.btn.pmd-btn-fab.pmd-ripple-effect.btn-danger.pmd-btn-flat.mx-1.my-2:hover{
  color:black;
}

a.btn.pmd-btn-fab.pmd-ripple-effect.btn-secondary.pmd-btn-flat.mx-1.my-2{
    border-radius: 50%;
    background-color: red;
}


a.btn.pmd-btn-fab.pmd-ripple-effect.btn-secondary.pmd-btn-flat.mx-1.my-2:hover{
  color:black;
}

p.text-white{
  margin-top: 20px;
}

h6.text-uppercase.mb-4.font-weight-bold{
  font-family:'Redressed', cursive;
}

 p#address{
  white-space: nowrap;
} 

img.px-2 {
  width: 50px;
}