@import url("https://fonts.googleapis.com/css2?family=Redressed&display=swap");

body {
  background-color: ghostwhite !important;
}

#contact {
  margin-top: 20%;
}

#map {
  margin-top: 20%;
}

.text-center.py-2 {
  background-color: lightgreen;
  color: black;
}

button.btn.btn-success.rounded-0.py-2.my-2 {
  background-color: lightgreen;
  border-color: none;
  color: black;
}

button.btn.btn-success.rounded-0.py-2.my-2:hover {
  background-color: black;
  color: white;
}

a.px-3.py-2.rounded.text-white.mb-2.d-inline-block {
  background-color: lightgreen;
}

.fa-phone {
  color: black;
}

.fa-map-marker {
  color: black;
}

.fa-envelope {
  color: black;
}

input#inlineFormInputGroupUsername:focus {
  color: #212529;
  background-color: #fff;
  border-color: lightgreen;
  outline: 0;
  box-shadow: 0 0 0 0.25rem lightgreen;
}

textarea#inlineFormInputGroupUsername:focus {
  color: #212529;
  background-color: #fff;
  border-color: lightgreen;
  outline: 0;
  box-shadow: 0 0 0 0.25rem lightgreen;
}

textarea#inlineFormInputGroupUsername {
  padding-bottom: 100px;
  overflow-y: hidden;
}

/* footer */
img.footerimage {
  width: 120px;
}

.text-center.p-3 {
  background-color: #1d1d1f !important;
}

footer.text-center.text-lg-start.text-dark {
  background-color: #424245 !important;
  padding-left: 0;
  padding-right: 0;
}

#facebook {
  color: #3b5998;
  font-size: 25px;
}

#twitter {
  color: #00acee;
  font-size: 25px;
}

#youtube {
  color: #ff0000;
  font-size: 25px;
}

#instagram {
  color: #c13584;
  font-size: 25px;
}

p.text-white {
  margin-top: 20px;
}

h6.text-uppercase.mb-4.font-weight-bold {
  font-family: "Redressed", cursive;
  color: lightgrey !important;
}

hr.w-100.clearfix.d-md-none {
  color: lightgrey !important;
}

p#address {
  white-space: nowrap;
}

img.px-2 {
  width: 50px;
}

/* footer ends */

@media (max-width: 480px) {
  #contact {
    margin-top: 70% !important;
  }
}

@media (max-width: 768px) {
  #contact {
    margin-top: 70% !important;
  }
}
