@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

a.navbar-brand.text-dark{
    font-size: 35px;
  
}

body{
  background-color: ghostwhite !important;
}

a#brand{
    font-size: 20px;
}

img#brand{
    width:100px;
}

/* brands */
#brands{
    display:flex;
    justify-content: center;
    align-items:center;
    margin:20px 0px 50px 0px;
    flex-direction:column;
}

#brands h2{
   font-weight:500;
   padding:2px 20px;
   text-transform:capitalize;
   letter-spacing: 2px;
   font-family: 'Redressed', cursive;
   margin:20px 0px;
   border: 1px solid rgba(0,0,0,0.14) ;
}

.brands-container{
    display: flex;
    margin:auto;
    width:1200px;
    justify-content: center;
    align-items:center;
    padding:20px;
    border:1px solid rgba(0,0,0,0.04);
}

.brands-box{
    position:relative;
    padding:10px;
    text-decoration: none;
}

.categories {
  margin-top: -50px !important;
}

.services.pd{
  margin-top: -55px;
}

@media (max-width: 767px) {


#fade{
  margin-top: -25px !important;
}

}

/* .brands-box img{
    width:250px;
    height:250px;
    object-fit:contain;
    object-position: center;
    padding:20px;
    background-color:grey;
    overflow:hidden;
    border:1px solid rgba(0,0,0,0.04);
    transition:all ease 0.3s;
}

.brands-box span{
    text-align:center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: #2c2c2c;
    text-transform: capitalize;
    
  
} */

/* owl brands */


  .title{
      text-align: center;
  }
 
  .slider{
    max-width:1100px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width:100%
}
  .slider .card{
    flex: 1;
    margin: 0 10px;
}s
  .slider .card .img{
    height:200px;
    width: 100%;
  
  }
  .slider .card .img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .slider .card .content{
    padding: 10px 20px;
  }
  .card .content .title{
    font-size: 25px;
    font-weight: 600;
  } 


  .card .img{
      height:150px;
      border-radius: 10px;
  }

 div.card{
     background-color:orange;
     border-radius: 10px;
 }

 /* #tissot{
     background-color: teal;
 } */

 /* #jbl{
     background-color: lightgrey;
 }

 #nike{
     background-color:lightseagreen;
 } */

 /* #apple{
     background-color:wheat;
 } */

 img.card-img-top{
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
 }

 /* category image grid */


 
 .gallery {
    transition: 0.3s;
    display: flex;
    padding: 2px;
    flex-wrap: wrap;
  }

  
  .gallery:hover .gallery__image {
    filter: grayscale(1);
  }

  
  .gallery__column {
    display: flex;
    flex-direction:column;
    width: 25%;
  }


  .gallery__link {
    margin: 2px;
    overflow: hidden;
  }
  .gallery__link:hover .gallery__image {
    filter: grayscale(0);
  }
  .gallery__link:hover .gallery__caption {
    opacity: 1;
  }
  .gallery__thumb {
    position: relative;
  }
  .gallery__image {
    display: block;
    width: 100%;
    transition: 0.3s;
  }
  .gallery__image:hover {
    transform: scale(1.1);
  }
  .gallery__caption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px 15px 15px;
    width: 100%;
    font-family:'Redressed', cursive;
    font-size: 16px;
    color: white;
    opacity: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    transition: 0.3s;
  }

  /* latest products */
  a.btn.btn-success{
    margin:10px;
  }
  
  a.btn.btn-success:hover{
    background-color:black;
    border:1px solid;
    color:white;
  }
  
  a.btn.btn-success{
  background-color:white;
  border-radius: 10px;
  border-color: lightgreen;
  color:black;
  white-space: nowrap; 
  
  }
  
 
  h5.card-title.text-center{
    font-family: 'Poppins', sans-serif;
    white-space: nowrap;
  }

  
  s{
    color:grey;
  }

  p.card-text.text-center{
    color:black;
    text-transform: capitalize;
  }


  /* footer */



  img.footerimage{
    width: 120px;
}

.text-center.p-3{
  background-color: #424245 !important;
}

footer.text-center.text-lg-start.text-dark{
  
  background-color: #1d1d1f !important;
}

a.btn.pmd-btn-fab.pmd-ripple-effect.btn-primary.pmd-btn-flat.mx-1.my-2{
    border-radius: 50%;
    background-color: rgb(59,89,152);
    color:white;
    
}

a.btn.pmd-btn-fab.pmd-ripple-effect.btn-primary.pmd-btn-flat.mx-1.my-2:hover{
  color:black;
}

a.btn.pmd-btn-fab.pmd-ripple-effect.btn-info.pmd-btn-flat.mx-1.my-2{
    border-radius: 50%;
    background-color: skyblue;
    
}

a.btn.pmd-btn-fab.pmd-ripple-effect.btn-info.pmd-btn-flat.mx-1.my-2:hover{
  color:black;
}


a.btn.pmd-btn-fab.pmd-ripple-effect.btn-danger.pmd-btn-flat.mx-1.my-2{
    border-radius:50%;
    background-color:#d63384;
}

a.btn.pmd-btn-fab.pmd-ripple-effect.btn-danger.pmd-btn-flat.mx-1.my-2:hover{
  color:black;
}

a.btn.pmd-btn-fab.pmd-ripple-effect.btn-secondary.pmd-btn-flat.mx-1.my-2{
    border-radius: 50%;
    background-color: red;
}


a.btn.pmd-btn-fab.pmd-ripple-effect.btn-secondary.pmd-btn-flat.mx-1.my-2:hover{
  color:black;
}

p.text-white{
  margin-top: 20px;
}

h6.text-uppercase.mb-4.font-weight-bold{
  font-family:'Redressed', cursive;
}

p#address{
  white-space: nowrap;
}

img.px-2 {
  width: 50px;
}

/* services */



.services {
  padding: 40px;
  position: relative
}

.services .square {
  height: 100px;
  width: 100px;
  margin: 30px auto 40px;
  position: relative;
  border-radius: 15px;
  transform: rotate(45deg);
  padding: 10px;
  background-color: lightgreen;
  box-shadow: 0px 0px 27px 0px #ccc;
  border: 2px dotted #eaf3fa
}

.square i {
  transform: rotate(315deg);
  display: block;
  color: #eaf3fa;
  font-size: 40px;
  padding-top: 17px;
  padding-right: 14px
}

.services .square::before {
  position: absolute;
  left: -10px;
  top: 0;
  width: 1px;
  height: 100%;
  background-color:black;
  content: ''
}

.services .square::after {
  position: absolute;
  left: 50px;
  top: 66px;
  width: 1px;
  height: 88%;
  background-color:black;
  content: '';
  transform: rotate(90deg)
}

.services .serv .num {
  width: 60px;
  height: 60px;
  background-color: #7499f1;
  box-shadow: 0px 0px 15px 0px #00a9d3;
  margin: -38px auto 15px auto;
  border-radius: 50%;
  color: #fff;
  font-size: 30px;
  padding-top: 7px;
  border: 1px dashed
}

.services .serv h5 {
  color: #fa9746;
  font-family: 'Redressed', cursive;
}

.services .serv p {
  color: #777
}

.services .serv hr {
  width: 30px;
  border-top: 3px solid rgb(0 169 211)
}