body
{
    background:#f2f2f2;
}

.payment
{
    border:1px solid #f2f2f2;
    height:280px;
    border-radius:20px;
    background:#fff;
}
.payment_header
{
   background:lightgreen;
   padding:20px;
   border-radius:20px 20px 0px 0px;
   
}

.payment_header1
{
   background:red;
   padding:20px;
   border-radius:20px 20px 0px 0px;
   
}

.check
{
   margin:0px auto;
   width:50px;
   height:50px;
   border-radius:100%;
   background:#fff;
   text-align:center;
   color:lightgreen;
}

.check1
{
   margin:0px auto;
   width:50px;
   height:50px;
   border-radius:100%;
   background:#fff;
   text-align:center;
   color:red;
}


.check i
{
   vertical-align:middle;
   line-height:50px;
   font-size:30px;
}

.check1 i
{
   vertical-align:middle;
   line-height:50px;
   font-size:30px;
}

.content 
{
    text-align:center;
}

.content  h1
{
    font-size:25px;
    padding-top:25px;
}

.btn.btn-success
{
    width:200px;
    height:35px;
    color:#fff;
    border-radius:30px;
    padding:5px 10px;
    background:lightgreen;
    transition:all ease-in-out 0.3s;
    text-decoration:none;
    border-color: lightgreen;
}

.btn.btn-danger
{
    width:200px;
    height:35px;
    color:black;
    border-radius:30px;
    padding:5px 10px;
    background:red;
    transition:all ease-in-out 0.3s;
    text-decoration:none;
    border-color:red;
}

.btn.btn-danger:hover
{
    text-decoration:none;
    background:#000;
    color: white;
}

.btn.btn-success:hover
{
    text-decoration:none;
    background:#000;
    color: white;
}

.container{
    margin-top: 100px;
}

