@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Redressed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

/* Resetting */
* {
  padding: 0;
  /* margin: 0; */
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

#main-content {
  padding: 30px;
  border-radius: 15px;
  margin-top: 20% !important;
}

.order.my-3.bg-light {
  background-color: lightgrey !important;
}

#main-content .h5,
#main-content .text-uppercase {
  font-weight: 600;
  margin-bottom: 0;
  line-height: 50px;
}

#main-content .h5 + div {
  font-size: 0.9rem;
}

#main-content .box {
  padding: 10px;
  border-radius: 6px;
  width: 250px;
  height: 90px;
  background-color: #ced4da !important;
}

#main-content .box img {
  width: 80px;
  height: 40px;
  object-fit: contain;
}

#main-content .box .tag {
  font-size: 0.9rem;
  color: #000;
  font-weight: 500;
}

#main-content .box .number {
  font-size: 1.5rem;
  font-weight: 600;
}

.order {
  padding: 10px 30px;
  min-height: 150px;
}

.order .order-summary {
  height: 100%;
}

.order .blue-label {
  background-color: #aeaeeb;
  color: #0046dd;
  font-size: 0.9rem;
  padding: 0px 3px;
}

.order .green-label {
  background-color: #a8e9d0;
  color: #008357;
  font-size: 0.9rem;
  padding: 0px 3px;
}

.order .red-label {
  background-color: red;
  color: black;
  font-size: 0.9rem;
  padding: 0px 3px;
}

.order .yellow-label {
  background-color: yellow;
  color: black;
  font-size: 0.9rem;
  padding: 0px 3px;
}

.order .fs-8 {
  font-size: 0.85rem;
}

.order .rating img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.order .rating .fas,
.order .rating .far {
  font-size: 0.9rem;
}

.order .rating .fas {
  color: #daa520;
}

.order .status {
  font-weight: 600;
}

.order .btn {
  background-color: lightgreen;
  color: black;
  border: 1px solid lightgreen;
  outline: lightgreen;
  border-radius: 20px;
}

.order .btn:hover {
  background-color: black;
  color: #fff;
}

.order.my-3.bg-light {
  border-radius: 20px;
}

div#images {
  text-align: center !important;
}

img#noorders {
  width: 40% !important;
}

/* Backgrounds */
.bg-purple {
  background-color: #55009b;
}

.bg-light {
  background-color: #f0ecec !important;
}

.green {
  color: #007965 !important;
}

/* Media Queries */
@media (max-width: 1199.5px) {
  nav ul li {
    padding: 0 10px;
  }
}

@media (max-width: 500px) {
  .order .progressbar-track .progressbar li {
    font-size: 1rem;
  }

  .order .progressbar-track .progressbar li::after {
    font-size: 0.8rem;
    top: 35px;
  }

  #tracker {
    top: 20px;
  }
}

@media (max-width: 440px) {
  #main-content {
    padding: 20px;
  }

  .order {
    padding: 20px;
  }

  #step-4::after {
    left: -5px;
  }
}

@media (max-width: 395px) {
  .order .progressbar-track .progressbar li {
    font-size: 0.8rem;
  }

  .order .progressbar-track .progressbar li::after {
    font-size: 0.7rem;
    top: 35px;
  }

  #tracker {
    top: 15px;
  }

  .order .btn.btn-primary {
    font-size: 0.85rem;
  }
}

@media (max-width: 355px) {
  #main-content {
    padding: 15px;
  }

  .order {
    padding: 10px;
  }
}

/* footer */
img.footerimage {
  width: 120px;
}

.text-center.p-3 {
  background-color: #1d1d1f !important;
}

footer.text-center.text-lg-start.text-dark {
  background-color: #424245 !important;
  padding-left: 0;
  padding-right: 0;
}

#facebook {
  color: #3b5998;
  font-size: 25px;
}

#twitter {
  color: #00acee;
  font-size: 25px;
}

#youtube {
  color: #ff0000;
  font-size: 25px;
}

#instagram {
  color: #c13584;
  font-size: 25px;
}

p.text-white {
  margin-top: 20px;
}

h6.text-uppercase.mb-4.font-weight-bold {
  font-family: "Redressed", cursive;
  color: lightgrey !important;
}

hr.w-100.clearfix.d-md-none {
  color: lightgrey !important;
}

p#address {
  white-space: nowrap;
}

img.px-2 {
  width: 50px;
}

/* footer ends */
@media (max-width: 480px) {
  #main-content {
    margin-top: 30% !important;
  }

  footer.text-center.text-lg-start.text-dark {
    margin-bottom: 19% !important;
  }
}

@media (max-width: 768px) {
  #main-content {
    margin-top: 30% !important;
  }

  footer.text-center.text-lg-start.text-dark {
    margin-bottom: 19% !important;
  }
}

/* load button */
button#btnLoad {
  border-radius: 20px !important;
  background-color: lightgreen;
  border: 1px solid white;
}

button#btnLoad:focus {
  border: 1px solid white !important;
  outline: none !important;
}

button#btnLoad:hover {
  background-color: #000;
  color: white;
}
