@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


body{
    background-color:#eee;
}

.height-100{
    height:100vh;
}

.card{
    width:380px;
    border:none;
}

.dots {
    height: 20px;
    width: 20px;
    margin-top:4px;
    margin-left:4px;
    background-color:#dc3545;
    border-radius: 50%;
    border: 2px solid #fff;
    display:flex;
    align-items:center;
    justify-content:center;
    color:#fff;
    font-size:10px;
}

.list li{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:13px;
    border-top:1px solid #eee;
    cursor:pointer;
}

.list li:hover{
    background-color:lightgreen;
    color:#fff;
}

h2{
    text-align: center;
    margin-top: 33px !important; 
    margin-right: 3px;
    font-family: 'Poppins', sans-serif;
}

img{
  max-width:10%;
 
}

.container.height-100.d-flex.justify-content-center.align-items-center{
    margin-top: -160px;
}

.d-grid.gap-2.col-3.mx-auto{
  margin-top: -150px;
}

/* footer */



img.footerimage{
    width: 120px;
}


a.btn.pmd-btn-fab.pmd-ripple-effect.btn-primary.pmd-btn-flat.mx-1.my-2{
    border-radius: 50%;
    background-color: rgb(59,89,152);
    color:white;
    
}

a.btn.pmd-btn-fab.pmd-ripple-effect.btn-primary.pmd-btn-flat.mx-1.my-2:hover{
  color:black;
}

a.btn.pmd-btn-fab.pmd-ripple-effect.btn-info.pmd-btn-flat.mx-1.my-2{
    border-radius: 50%;
    background-color: skyblue;
    
}

a.btn.pmd-btn-fab.pmd-ripple-effect.btn-info.pmd-btn-flat.mx-1.my-2:hover{
  color:black;
}


a.btn.pmd-btn-fab.pmd-ripple-effect.btn-danger.pmd-btn-flat.mx-1.my-2{
    border-radius:50%;
    background-color:#d63384;
}

a.btn.pmd-btn-fab.pmd-ripple-effect.btn-danger.pmd-btn-flat.mx-1.my-2:hover{
  color:black;
}

a.btn.pmd-btn-fab.pmd-ripple-effect.btn-secondary.pmd-btn-flat.mx-1.my-2{
    border-radius: 50%;
    background-color: red;
}


a.btn.pmd-btn-fab.pmd-ripple-effect.btn-secondary.pmd-btn-flat.mx-1.my-2:hover{
  color:black;
}

p.text-white{
  margin-top: 20px;
}

h6.text-uppercase.mb-4.font-weight-bold{
  font-family:'Redressed', cursive;
}

p#address{
  white-space: nowrap;
}

img.px-2 {
  width: 50px;
}

/* footer */