.btn-color{
    background-color:black;
    color: #fff;
    
  }

  .btn:hover{
    background-color:ghostwhite;
    color:black;
  }
  
  .profile-image-pic{
    height: 200px;
    width: 200px;
    object-fit: cover;
  }

  img.img-fluid.profile-image-pic.img-thumbnail.rounded-circle.my-3{
    background-color:honeydew;
  }
  
  .cardbody-color{
    background-color:powderblue;
  }

  .body{
    background-color: ghostwhite;
  }
  
  a{
    text-decoration: none;
  }

  button.btn.btn-color.px-5.mb-5.w-100{
    box-shadow:none;
    outline: none;
  }